---
http_interactions:
- request:
    method: get
    uri: https://givingapi.faithlife.com/v1/merchants/7699729/campaigns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="E424645A9BFC8CA64160484660189644ECA557B1", oauth_nonce="vE2XJ4578uIDBDCPaj0Hjp6mWuIw6EiPciOmq6dYicE",
        oauth_signature="muFoS5j6Qz0b3RKtCOVbCaEpmxM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1638994462", oauth_token="882CB66B149FC3A70E0D424A6B763B163AE660BD",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Faithlife-Correlation-Id:
      - 2dcb7ba61f274b3ca86d1f1cc65b0a3b
    body:
      encoding: ASCII-8BIT
      string: '{"campaigns":[{"id":463,"name":"Building Campaign","isVisible":true,"status":"Retired","start":"2020-12-02T08:00:00Z","end":"2021-01-31T08:00:00Z","amountGiven":0.0,"remainingPledgedAmount":0.0,"goalAmount":2000.00,"quickAmounts":[50,100,250],"frequencyKind":"oneTime","funds":[{"fund":{"id":2620,"name":"Building
        Fund","ledgerNumber":"223","isDeductible":true},"amount":334.75}],"fund":{"id":2620,"name":"Building
        Fund","ledgerNumber":"223","isVisible":true,"status":"Retired","start":"2020-12-30T08:00:00Z","end":"2020-12-31T08:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true}},{"id":464,"name":"Missions
        Campaign","isVisible":true,"status":"Retired","start":"2020-12-01T08:00:00Z","end":"2021-03-31T07:00:00Z","amountGiven":0.0,"remainingPledgedAmount":0.0,"goalAmount":10000.00,"quickAmounts":[50,100,250],"frequencyKind":"oneTime","funds":[{"fund":{"id":8598,"name":"Phillipines","ledgerNumber":"2222","isDeductible":true},"amount":1235.0}],"fund":{"id":8598,"name":"Phillipines","ledgerNumber":"2222","isVisible":true,"status":"Active","a[...]
