---
http_interactions:
- request:
    method: get
    uri: https://faithlife.com/proxy/chms/v1/group/7699729/records/organization/get?schemaVersion=2.0.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="E424645A9BFC8CA64160484660189644ECA557B1", oauth_nonce="0nvAtYpbgVkv0LDqjAJsatT97misVT8t21q0qBX0IL0",
        oauth_signature="BbUvTf8ti61tu3J7aR9kINYd%2BBA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1642887303", oauth_token="6C59544BF73F8C6157C8D2E87AE8A8F3BC62D08E",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-user-id:
      - '11915497'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"groupId":7699729,"recordId":"organization-1633345","revision":1,"schemaVersion":"2.0.2","recordFieldData":[{"fieldName":"name","data":{"value":"Chewd''s
        Chewing Gum Emporium"},"dataKindName":"string","dataKindVersion":"1.0.0","schemaFieldVersion":"1.0.2"}],"createdDate":"2021-01-27T19:12:58Z","revisionDate":"2021-01-27T19:12:58Z","author":{"id":7112867,"name":"GivingApi"},"creator":{"id":7112867,"name":"GivingApi"},"isHidden":false,"isDeleted":false,"summary":{"title":"Chewd''s
        Chewing Gum Emporium","image":"https://files.logoscdn.com/v1/files/45929045/content.svg?signature=qGAVfzDGXF9CZE3mfEC1I0Aa0N4"}},{"groupId":7699729,"recordId":"organization-428757","revision":2,"schemaVersion":"2.0.2","recordFieldData":[{"fieldName":"name","data":{"value":"Faithlife
        Corporation"},"dataKindName":"string","dataKindVersion":"1.0.0","schemaFieldVersion":"1.0.2"},{"fieldName":"addresses","data":{"value":{"items":[{"city":"Bellingham","road":"1313
        Commercial St","text":"1313 Commercial St, Bellingham, WA 98225, USA","unit":"","state":"WA","county":"Whatcom
        County","country":"US","location":{"latitude":"48.75092009999999","longitude":"-122.4798594"},"postcode":"98225","isInferred":false,"country_code":"US","house_number":"","neighborhood":"","state_district":"WA"}]}},"dataKindName":"address","dataKindVersion":"2.4.0","schemaFieldVersion":"2.2.5"},{"fieldName":"email","data":{"value":{"items":[]}},"dataKindName":"keyValueEnum","dataKindVersion":"1.0.0","schemaFieldVersion":"1.2.0"},{"fieldName":"phone","data":{"value":{"items":[{"name":"Work","value":"(360)
        527-1700","isInferred":false,"preferences":{"canCall":{"value":true},"canText":{"value":true}}}]}},"dataKindName":"phone","dataKindVersion":"1.1.0","schemaFieldVersion":"1.3.0"},{"fieldName":"socialProfiles","data":{"value":{"items":[]}},"dataKindName":"keyValueEnum","dataKindVersion":"1.0.0","schemaFieldVersion":"1.2.0"}],"createdDate":"2020-04-14T20:17:59Z","revisionDate":"2020-04-14T20:18:10Z","author":{"id":7072994},"creator":{"id":7072994},"isHidden":false,"isDeleted":false,"summary":{"title":"Faithlife
        Corporation","image":"https://files.logoscdn.com/v1/files[...]
