---
http_interactions:
- request:
    method: get
    uri: https://givingapi.faithlife.com/v1/merchants/7699729/funds?includeInactiveFunds=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="E424645A9BFC8CA64160484660189644ECA557B1", oauth_nonce="uMw7Z8gACNUOhARjUB4uNCM6iHdrNPUeFrhGS7ggUw",
        oauth_signature="yy4X%2Fwba2FkexA00BAWHQbU5Dtk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1638994648", oauth_token="882CB66B149FC3A70E0D424A6B763B163AE660BD",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Faithlife-Correlation-Id:
      - 3234604734004c94931fdec07204976f
    body:
      encoding: ASCII-8BIT
      string: '{"funds":[{"id":2595,"name":"General Fund","isVisible":true,"status":"Active","start":"2021-04-28T07:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":841,"name":"Tom
        Test"},"isDeductible":true},{"id":2619,"name":"Missions ","ledgerNumber":"657","isVisible":true,"status":"Retired","end":"2021-09-07T17:25:11Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true},{"id":2620,"name":"Building
        Fund","ledgerNumber":"223","isVisible":true,"status":"Retired","start":"2020-12-30T08:00:00Z","end":"2020-12-31T08:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true},{"id":6764,"name":"Mr.
        and Mrs. Smith","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":841,"name":"Tom
        Test"},"isDeductible":true},{"id":6876,"name":"(CBH) Christians Broadcasting
        Hope 44.30100","isVisible":true,"status":"Retired","start":"2020-12-24T08:00:00Z","end":"2020-12-30T08:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true},{"id":8598,"name":"Phillipines","ledgerNumber":"2222","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":580,"name":"Missions"},"isDeductible":true},{"id":21632,"name":"Playground
        Fund","isVisible":true,"status":"Retired","start":"2020-07-14T07:00:00Z","end":"2020-07-28T07:00:00Z","allowRecurringGifts":false,"isDeductible":true},{"id":24471,"name":"Fund
        to hide","isVisible":true,"status":"Retired","end":"2021-09-07T17:25:11Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"description":"Testing
        hiding a fund for just manual gifts","isDeductible":true},{"id":28205,"name":"Monday","ledgerNumber":"12","isVisible":true,"status":"Retired","start":"2020-12-11T08:00:00Z","end":"2020-12-17T08:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"description":"Testing
        issue with recurring gift button not displaying","isDeductible":true},{"id":29204,"name":"Children''s
        Ministry Fund","isVisible":true,"status":"Retired","start":"2021-01-17T08:00:00Z","end":"2021-08-01T04:00:00Z","allowRecurringGifts":false,"amountInputDescription":"Alternative
        Description","shouldShowAmountInputDescription":true,"description":"Main Description","isDeductible":true,"goodsOrServicesProvided":"","minGiftAmount":0.00,"fairMarketValue":0.00},{"id":29205,"name":"Building
        Fund 1","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":841,"name":"Tom
        Test"},"isDeductible":true},{"id":29206,"name":"Australia: Kyle and Katie
        Anderson","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":580,"name":"Missions"},"isDeductible":true},{"id":29207,"name":"Japan:
        Mike a[...]
