---
http_interactions:
- request:
    method: get
    uri: https://givingapi.faithlife.com/v1/merchants/7699729/giftschedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="E424645A9BFC8CA64160484660189644ECA557B1", oauth_nonce="VM00XfCQVkDm7Dn41CERHuLxZAGHQ6kXmaOssw",
        oauth_signature="1sSt%2FFlHQgV96g%2Bc6nGcfYXuFqs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1638994649", oauth_token="882CB66B149FC3A70E0D424A6B763B163AE660BD",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Faithlife-Correlation-Id:
      - 6d0848a364084acfb776df43300fb6fb
    body:
      encoding: ASCII-8BIT
      string: '{"giftSchedules":[{"id":7467,"group":{"id":"7699729","name":"Blackstone
        Church","token":"cc-jd","avatarUrl":"//avatars.logoscdn.com/9729/7699729_7302c7e09a2f41aaa858b0bb1f12395f.png"},"giver":{"id":"1031762","groupId":"7699729","kind":"individual","userId":"7810632","name":"Scott
        Maxa (Faithlife)","envelopeNumber":"333","address":{"address1":"123 Example
        St.","city":"Bellingham","stateProvince":"Washington","postalCode":"123123","countryAlpha3":"USA","text":"123
        Example St. Bellingham, Washington 123123, USA"},"chmsRecord":{"id":"people-846547","revision":"13"}},"amount":2.00,"isUserPayingFees":false,"fundAllocations":[{"fund":{"id":2595,"name":"General
        Fund"},"amount":2.00}],"giftAllocations":[{"destination":{"kind":"fund","fund":{"id":2595,"name":"General
        Fund","isVisible":true,"status":"Active","start":"2021-04-28T07:00:00Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":841,"name":"Tom
        Test"},"isDeductible":true}},"amount":2.00}],"billingProfileId":"1366786","recurrencePattern":"RRULE:FREQ=MONTHLY;INTERVAL=1;BYMONTHDAY=12","start":"2021-05-12T22:54:03Z","created":"2021-04-12T22:54:12Z","next":"2021-12-12T00:00:00+00:00","status":"Active","source":"Form","lastSuccess":"2021-11-12T16:05:49Z","paymentKind":"ECheck","lastFour":"123","estimatedFees":0.47},{"id":8080,"group":{"id":"7699729","name":"Blackstone
        Church","token":"cc-jd","avatarUrl":"//avatars.logoscdn.com/9729/7699729_7302c7e09a2f41aaa858b0bb1f12395f.png"},"giver":{"id":"1042455","groupId":"7699729","kind":"family","name":"Salo
        Family","addressAs":"The Salo Family","address":{"address1":"809 Blackstone
        Court","address2":"","city":"Bellingham","stateProvince":"Washington","postalCode":"98226","countryAlpha3":"United
        States","text":"809 Blackstone Court, Bellingham, Washington 98226, United
        States"},"chmsRecord":{"id":"family-1621091","revision":"1025"}},"surrogateGiver":{"id":"1000102","groupId":"7699729","kind":"individual","userId":"7072994","email":"renn.salo@faithlife.com","phoneNumber":"+15093896657","name":"Renn
        Salo","envelopeNumber":"280","avatarUrl":"//avatars.logoscdn.com/2994/7072994_large_1c1a3a7807b34eac85e9979ad536a58d.png","address":{"address1":"809
        Blackstone Ct","city":"Bellingham","postalCode":"98226","countryAlpha3":"USA","text":"809
        Blackstone Ct Bellingham, 98226, USA"},"chmsRecord":{"id":"people-204125","revision":"1024"}},"amount":20.00,"isUserPayingFees":true,"fundAllocations":[{"fund":{"id":29204,"name":"Children''s
        Ministry Fund"},"amount":15.00},{"fund":{"id":29207,"name":"Japan: Mike and
        Laura"},"amount":5.00}],"giftAllocations":[{"destination":{"kind":"fund","fund":{"id":29204,"name":"Children''s
        Ministry Fund","isVisible":true,"status":"Retired","start":"2021-01-17T08:00:00Z","end":"2021-08-01T04:00:00Z","allowRecurringGifts":false,"amountInputDescription":"Alternative
        Description","shouldShowAmountInputDescription":true,"description":"Main Description","isDeductible":true,"goodsOrServicesProvided":"","minGiftAmount":0.00,"fairMarketValue":0.00}},"amount":15.00},{"destination":{"kind":"fund","fund":{"id":29207,"name":"Japan:
        Mike and Laura","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"fundGrouping":{"id":580,"name":"Missions"},"isDeductible":true}},"amount":5.00}],"billingProfileId":"1021380","recurrencePattern":"RRULE:FREQ=MONTHLY;INTERVAL=1;BYMONTHDAY=21","start":"2021-05-21T07:00:00Z","created":"2021-05-21T19:55:47Z","next":"2021-12-21T00:00:00-07:00","status":"Active","source":"Form","lastSuccess":"2021-11-21T16:17:02Z","paymentKind":"Visa","lastFour":"1016","estimatedFees":1.08,"notes":"Testing"},{"id":8692,"group":{"id":"7699729","name":"Blackstone
        Church","token":"cc-jd","avatarUrl":"//avatars.logoscdn.com/9729/7699729_7302c7e09a2f41aaa858b0bb1f12395f.png"},"giver":{"id":"1070172","groupId":"7699729","kind":"individual","userId":"9579600","email":"francisco.serrano@faithlife.com","name":"Francisco
        Serrano","avatarUrl":"//avatars.logoscdn.com/9600/9579600_large_68af39fcef6242498566e3281a2d5d99.png","address":{"address1":"2","address2":"3","city":"3","countryAlpha3":"USA","text":"2
        3 3, USA"},"chmsRecord":{"id":"people-2382590","revision":"6"}},"amount":23.00,"isUserPayingFees":false,"fundAllocations":[{"fund":{"id":32400,"name":"Servant
        Keeper Fund"},"amount":23.00}],"giftAllocations":[{"destination":{"kind":"fund","fund":{"id":32400,"name":"Servant
        Keeper Fund","isVisible":true,"status":"Active","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true,"goodsOrServicesProvided":"","minGiftAmount":0.00,"fairMarketValue":0.00}},"amount":23.00}],"billingProfileId":"1412195","recurrencePattern":"RRULE:FREQ=YEARLY;INTERVAL=1;BYMONTHDAY=28;BYMONTH=6","start":"2021-06-28T05:00:00Z","end":"2021-06-29","created":"2021-06-28T19:16:32Z","next":"2022-06-28T00:00:00-05:00","status":"Active","source":"Form","paymentKind":"Mastercard","lastFour":"5557","estimatedFees":1.14,"notes":"","missedGifts":{"count":1,"totalAmount":23.00}},{"id":9006,"group":{"id":"7699729","name":"Blackstone
        Church","token":"cc-jd","avatarUrl":"//avatars.logoscdn.com/9729/7699729_7302c7e09a2f41aaa858b0bb1f12395f.png"},"giver":{"id":"1073107","groupId":"7699729","kind":"individual","email":"bob.baxter@example.com","name":"Bob
        Baxter","envelopeNumber":"22","chmsRecord":{"id":"people-2815011","revision":"1"}},"amount":200.00,"isUserPayingFees":false,"fundAllocations":[{"fund":{"id":2619,"name":"Missions
        "},"amount":200.00}],"giftAllocations":[{"destination":{"kind":"fund","fund":{"id":2619,"name":"Missions
        ","ledgerNumber":"657","isVisible":true,"status":"Retired","end":"2021-09-07T17:25:11Z","allowRecurringGifts":true,"shouldShowAmountInputDescription":false,"isDeductible":true}},"amount":200.00}],"recurrencePattern":"FREQ=WEEKLY;INTERVAL=2;BYDAY=MO","start":"2021-08-16T19:00:00Z","end":"2022-08-16","created":"2021-07-19T18:59:16Z","next":"2021-12-20T00:00:00+05:00","status":"PendingPaymentInfo","source":"FileImport","paymentKind":"Other","estimatedFees":6.43,"notes":"For
        the Smith mission.","missedGifts"[...]
