---
http_interactions:
- request:
    method: get
    uri: https://faithlife.com/proxy/chms/v1/group/7699729/records/family/get?schemaVersion=3.1.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth oauth_consumer_key="E424645A9BFC8CA64160484660189644ECA557B1", oauth_nonce="66FRWzGBlTNuCGvEIyvPvv6CqYlvthR2K9BmQEGI",
        oauth_signature="aYU%2FdRnLe6nwWrlyKShmKWJkxYU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1642800896", oauth_token="6C59544BF73F8C6157C8D2E87AE8A8F3BC62D08E",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      x-user-id:
      - '11915497'
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"groupId":7699729,"recordId":"family-2297228","revision":5,"schemaVersion":"3.1.7","recordFieldData":[{"fieldName":"addressAs","data":{"value":{"value":"The  Family","isInferred":true,"confidenceSource":"Family"}},"dataKindName":"inferredString","dataKindVersion":"1.0.0","schemaFieldVersion":"1.1.1"},{"fieldName":"addresses","data":{"value":{"items":[{"verification":{"codes":["NO_GMAP_RESULT"]}}]}},"dataKindName":"address","dataKindVersion":"2.4.0","schemaFieldVersion":"2.2.5"},{"fieldName":"email","data":{"value":{"items":[{}]}},"dataKindName":"keyValueEnum","dataKindVersion":"1.0.0","schemaFieldVersion":"1.2.0"},{"fieldName":"familyName","data":{"value":{"value":"
        (Wd)","isInferred":true,"confidenceSource":"Family"}},"dataKindName":"inferredString","dataKindVersion":"1.0.0","schemaFieldVersion":"1.1.1"},{"fieldName":"members","data":{"value":{"items":[{"memberId":"people-2297227","isPrimary":false}]}},"dataKindName":"familyMembers","dataKindVersion":"1.0.0","schemaFieldVersion":"2.0.0"},{"fieldName":"phone","data":{"value":{"items":[{"preferences":{"canCall":{"value":true},"canText":{"value":true}}}]}},"dataKindName":"phone","dataKindVersion":"1.1.0","schemaFieldVersion":"1.3.0"}],"createdDate":"2021-05-03T21:28:51Z","revisionDate":"2021-10-02T07:15:49Z","author":{"id":7280479,"name":"FaithlifeTeamServiceAccount"},"creator":{"id":3761884,"name":"Jake
        R."},"metadata":{"source":"Subscriber"},"isHidden":false,"isDeleted":false,"summary":{"title":"
        (Wd)","image":"https://files.logoscdn.com/v1/files/45929050/content.svg?signature=Xco8xrdSYAdgP047oC15JeXDOjw"}},{"groupId":7699729,"recordId":"family-1658485","revision":6,"schemaVersion":"3.1.7","recordFieldData":[{"fieldName":"familyName","data":{"value":{"value":"Bivens
        (Tina)","isInferred":true,"confidenceSource":"Family"}},"dataKindName":"inferredString","dataKindVersion":"1.0.0","schemaFieldVersion":"1.1.1"},{"fieldName":"addressAs","data":{"value":{"value":"The
        Bivens Family","isInferr[...]
